<!DOCTYPE html>

<html>

  <head>
    <%- include("Partials/head.ejs"); %>
  </head>

  <style>
    body{
      color: white;
    }
  </style>

  <body class="m-0 p-0" style="background-color:darkblue;">
    <input id="customer_id" value="2" type="hidden">
    <input id="quizLength" value="<%=questions.length%>" type="hidden">
    <div class="background-filter" style="z-index:-1;position:absolute;width:100vw;height:100vh;filter:brightness(50%);background-color:darkblue"></div>

    <% for(var i=0;i<questions.length;i++){ %>
      <% if(i==0){ %>
        <div id="question<%=questions[i].question_id%>" class="card text-center" style="position:absolute;z-index:<%=questions.length-i%>;width:100vw;height:100vh;">
          <div class="background-filter" style="z-index:-1;position:absolute;width:100vw;height:100vh;filter:brightness(50%);background-color:darkblue"></div>
          <h1 class="display-1 my-auto ml-5 mr-5" style="font-size:4rem;color:white;z-index:2;"><%=questions[i].description%></h1>
          <div class="ml-5 mr-5" style="height:5rem;z-index:2;display:grid;grid-template-columns:auto auto;grid-gap:3rem;margin-bottom:10rem;">
            <button data-weight="<%=questions[i].weight%>" class="answer btn btn-primary">Yes</button>
            <button data-weight="0" class="answer btn btn-primary">No</button>
          </div>
        </div>
      <% }else{ %>
        <div id="question<%=questions[i].question_id%>" class="card text-center" style="position:absolute;display:none;opacity:0;z-index:<%=questions.length-i%>;width:100vw;height:100vh;">
          <div class="background-filter" style="z-index:-1;position:absolute;width:100vw;height:100vh;filter:brightness(50%);background-color:darkblue"></div>
          <h1 class="display-1 my-auto ml-5 mr-5" style="font-size:4rem;color:white;z-index:2;"><%=questions[i].description%></h1>
          <div class="ml-5 mr-5" style="height:5rem;z-index:2;display:grid;grid-template-columns:auto auto;grid-gap:3rem;margin-bottom:10rem;">
            <button data-weight="<%=questions[i].weight%>" class="answer btn btn-primary">Yes</button>
            <button data-weight="0" class="answer btn btn-primary">No</button>
          </div>
        </div>
      <% } %>
    <% } %>



    <!--
      - card for every quiz
        - background img
        - filters
        - Question
        - Button (next question)

        logik:
          - ved svar:
            - gem svar (localstorage mby)
            - sæt nuværende block display til none
            - sæt næste block til block
          - send svar
            - hent svar fra alle spørgsmål
            - send til server, bliv redirected
          - evt. dynamiske spørgsmål
    -->

  </body>


</html>
